@import "../scss/base/reset";
@import "../scss/components/header";
@import "../scss/base/fonts";
@import "../scss/base/variables";
@import "../scss/components/nosotros";
@import "../scss/components/productos";
@import "../scss/components/contacto";
@import "../scss/components/ubicacion";
@import "../scss/components/footer";
@import "../scss/base/responsive";
@import "../scss/base/mixin";
@import "../scss/base/animaciones.scss";
@import "../scss/components/Tortas";

