/* Imagen de fondo con Opacidad */

.site-header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../img/backgroundd.header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fondo de navbar */

nav {
    position: fixed;
    width: 100%;
    height: 140px;
    padding: 65px 30px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
}

/* Logo de navegacion */

.logo {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

/* Navbar */

nav ul {
    li {
        display: inline-block;
        margin-right: 15px;

        a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    margin-bottom: 0;
}

/* Quitar hamburguesa */

.nav_link,
.nav_target {
    display: none;
}

/* Texto Central */

.center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}