/* Seccion nuestros productos */

#product {
    background-color: rgb(224, 216, 216);
    padding: 40px 0px;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: block;
}

.tittle {
    margin-top: 50px;
}

.Products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards1 {
    background: url(../../img/torta.jpeg);
}

.cards2 {
    background: url(../../img/desayuno.jpeg);
}

.cards3 {
    background: url(../../img/corazon.jpeg);
}

.cards4 {
    background: url(../../img/foto-bombones.jpeg);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .5s;

    h2 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 35px;
    }

    &:hover {
        opacity: 1;
    }
}