/* Tortas */

.conteiner-tortas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
  }
  
  h1 {
    background: #ccc;
    background: radial-gradient(#fff, rgba(255, 255, 255, 0.704));
    font-family: system-ui;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 45px;
  }
  
  .conteiner-cards {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
 
  .front {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  