/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/* Todos los H1 */
section h1{
    background: #ccc;
    background: radial-gradient(rgb(60, 56, 56), rgba(255, 255, 255, 0.704));
    font-family: system-ui;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    text-align: center;
    font-size: 45px;
}

